@charset "UTF-8";
div#arrastraAImagen1{
    display: inline-block;
}
body{
	background:#FFF;
    max-width: 960px;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size:0.9em;	
	text-align:center;
	color: #333;
    margin: 1em auto;
}
#main
{
	border: 1px solid #adaa9f;
	box-shadow: 0 2px 2px #9c9c9c;
	color: #333;
	/*background:#FFF;*/
	border-radius: 8px;
	padding: 10px;
	margin: 1em;
	margin-bottom: 0;
    text-align: center;
}
.parrafo{
	line-height: 1.5em;
	text-align:left;	
}
/* Estilo para los botones */
button,
html input[type="button"], 
input[type="reset"],
input[type="submit"] {
	height: 40px;
	text-align: center;
	font-size: 13px;
	font-weight: 800;
	margin-top: 4px;
	margin-left: 0;
	margin-right: 0;
	padding: 10px;
	clear: none;
	color: rgba(255, 255, 255, 1);
	background-color: #AA0000;
	border-radius: 15px;
	border-width: 2px;
	border-style: solid;
	border-color: #666;
}
button:hover,
html input:hover[type="button"], /* 1 */
input:hover[type="reset"],
input:hover[type="submit"] {
    color: rgba(205, 0, 0, .9);
	background-color: rgba(255, 255, 255, 1);
	border-color: #999;	
	
	transition: 		color 500ms ease, background-color 500ms ease;
	-webkit-transition: color 500ms ease, background-color 500ms ease;
}
.subtitulo_01 {	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: #999;
	text-align:left;	
}
.titulo_01 {	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 18px;
	color: #CC003D;
	text-align:left;	
}
div#retroalimentacion{
	font-size:1.4em;
	text-align:center;
	padding:1px;
}
/* Drag a Imágenes */
.imagenDestino {
    position: relative;
    width: 100%; /* for IE 6 */
    text-align: left;
    float: left;
}
.imagenDestino img{
    
}
.DropTarget {
    position: absolute;
    top:0;
    left: 0;
    border: 2px dashed #990003;
    background-color: rgba(255,255,255,0.5);
    padding: 10px 12px;
}
.Dragable{
    cursor: move;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    user-select: none;
    width: auto;
    /*height: 2em;*/
    margin: 0;
    padding: 9px 10px;
    color: #000;
    font-size: 0.8em;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 1px 2px 5px rgba(0,0,0,200);
    background-color:#FFF;
    vertical-align:middle;
    text-align: center;
    display: inline-block;
}
.Indragable{
    font-weight: bold;
    margin: 0;
    display:inline-block;
}
.opciones {
    position: absolute;
    top: 0;
    left: 0;
}
/*fin Drag a Imágenes*/